body{
        margin: 0;
        font-family: 'Montserrat', sans-serif;
    
}

.top-area{
    height: 600px;
    padding: 30px 0px 200px 0px;
}


.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}

h1{
    font-size: 60px;
    font-weight: 700;
    color: #575757;
    letter-spacing: -2%;
    padding-top: 120px;
}
.top-area p{
    font-size: 20px;
    color: #828282;
    font-weight: 500;
    padding-bottom: 20px;
}
h1 span{
    color: orange;
}

.top-area img{
    width: 650px;

}
.about-area img{
    width: 338px;
    margin-top: 60px;
   
}

.anchor-button{
    text-decoration: none;
    background: linear-gradient(45deg, lightsalmon, tomato);
    padding: 20px 50px;
    border-radius: 30px;
    color: white;
    font-weight: 600;
    font-size: 18px;
}
.about-area{
    background-image: url(images/shapes/about-frame.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 600px;
}
.about-area h3{
    font-size: 40px;
    font-weight: bold;
    color: #707070;
    margin-top: 100px;
}

.about-area p{
    font-size: 18px;
    font-weight: 400;
    color: #18191F;
    margin-bottom: 50px;
    line-height: 32px;
}

.recipe-area{
    height: 600px;
    padding-top: 100px;
    padding-bottom: 300px;
}

.recipe-area h3{
    font-size: 36px;
    font-weight: bold;
    color: #676767;
    text-align: center;
}
.recipe-area p{
    font-size: 18px;
    color: #252525;
    text-align: center;
    font-weight: 400;
    padding-bottom: 30px;
}
.post{
    width: 24%;
    float: left;
    margin-left: 5%;
    padding: 1.5%;
    border-radius: 15px;
    box-shadow: 5px 7px 40px gray;
}
.post img{
    height: 250px;
    width: 365px;
    border-radius: 15px;
}

.post h4{
    font-size: 28px;
    font-weight: 800;
    margin: 15px 0;

}
.post p{
    font-size: 18px;
    font-weight: 400;
    color: #18191F;
    text-align: left;
    line-height: 32px;
    padding-bottom: 20px;
}

.bottom-area{
    box-shadow: 5px 7px 20px gray;
    margin: 0px 40px 90px 40px;
    height: 220px;
    padding: 20px;
}
.count{
    width: 30%;
    float: left;
    padding: 1%;
    border-radius: 15px;
    text-align: center;
}
.count h2{
    color: #18191F;
    font-size: 48px;
    font-weight: bold;
}
.count p{
    color: #18191F;
    font-size: 16px;
    font-weight: regular;
}

footer{
    background-color: black;
    text-align: center;
    padding: 40px;
}
footer h2 span{
    color: orange;
}

footer h2{
    color: #5B5B5B;
    font-size: 30px;
}
footer p{
    color: #ffffff;
}