body{
        margin: 0;
        font-family: 'Poppins', sans-serif;
}

section{
    height: 500px;
    padding-bottom: 150px;
}

.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}

h1{
    font-size: 50px;
}

h1 span{
    color: orange;
}